:root {
  --main-color: rgb(98, 220, 147);
  --sub-color: rgb(198, 200, 100);
}
div {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  background-color: var(--sub-color);
  transition: all 1s ease-in-out;
}
div:hover {
  background-color: teal;
}
div:hover img {
  width: 200px;
  transform: rotateZ(360deg);
}
img {
  width: 100px;
  transition: all 1s ease-in-out;
}
